.infScroll {
    height: calc(100% - 70px);
    width: 100%;

}




.imager {
    height: 174px;
}


mat-card {
    height: 190px;
}

.marginMaintainer {
    margin: 0px 20px 0px 0px;
    display: flex;
    flex-direction: row;
}

.imager:hover {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.vidList {
    cursor: pointer;
}


mat-spinner {
    position: fixed;
    z-index: 3;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

mat-card-title div {
    display: flex;
    align-items: center;
}

mat-card-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


mat-card-header {
    display: flex;
    width: 100%;
}


.mat-card-header-text {
    width: 100%;
}

.sideNaver {
    width: 10%;
}

.content {
    width: 90%;
}

.sideNaverOrg {
    width: 10%;
    height: 100%;
    background-color: #605858;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}