<div class="land">
    <img src='./assets/land.svg'>
    
    <div class="top">
        <div class="logoPart"><h3>Andromeda</h3></div>
        <div class="buttPart">
           
            <button mat-button color="warn" *ngIf="state.login.token !=''" [routerLink]="'/home'">continue</button>
            <button mat-button [routerLink]="'/register'" *ngIf="state.login.token ==''" color="primary">Get Started</button>
            <button mat-button color="warn" *ngIf="state.login.token ==''" [routerLink]="'/login'">sign in</button>
        </div>
    </div>
    
    <!-- <div class="middlePart">
        
        <button mat-button [routerLink]="'/register'" *ngIf="state.login.token ==''" color="primary">Get Started</button>
    </div> -->
    <div class="middlePart">
        <div>
            <img class="img_resize" [src]="'assets/landing_pics/'+img">
        </div>
    </div>
    
</div>
