<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#">Video Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active" *ngIf="overall.login.login">
        <a class="nav-link" [routerLink]="'/home'">Users</a>
      </li>
      <li class="nav-item" *ngIf="overall.login.login">
        <a class="nav-link" [routerLink]="'/videos'">Videos</a>
      </li>
      <li class="nav-item" *ngIf="overall.login.login">
        <a class="nav-link" [routerLink]="'/upload'">Upload</a>
      </li>
      <li class="nav-item" *ngIf="overall.login.login">
        <a class="nav-link" (click)="overall.authenticationDestroy()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
