form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.register-form {
    height: calc(100% - 70px);
}

.but {
    display: flex;
    width: 200px;
    justify-content: space-between;
}